@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --principal: #5d61f7;
  --error: #ff3333;
  --error-background: #ffcdd2;
  --background: #ffffff;
  --light: rgba(132, 139, 200, 0.18);
  --text-principal: #1c194d;
  --color-white: #fff;
  --color-dark: #111212;
  --dark: #000000;
  --text-secund: #7c7575;
  --back-secund: #c5d1ff;
  --text-compatible: #03b64d;
  --card-compatible: #b3ffd1;
  --text-incompatible: #ff0000;
  --card-incompatible: #ffc0c0;
  --text-variable: #d6d300;
  --card-variable: #e7ff88;
  --text-noprobado: #0092d6;
  --card-noprobado: #b9e8fe;
  --text-incierto: #656565;
  --card-incierto: #dcdcdc;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--light);
}
/* TEMAS OBSCUROS - VARIABLES */
.dark-theme-variables {
  --background: #181a1e;
  --color-white: #202528;
  --color-dark: #ada3cc;
  --text-secund: #a3bdcc;
  --dark: #ffffff;
  --light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(var(--light));
}
.btn {
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius-2);
  background-color: var(--principal);
  color: var(--color-white);
  transition: all 300ms ease;

  font-weight: 500;
  font-family: poppins, sans-serif !important;
}
.farmaLink {
  color: #7c89fd;
}
.farmaLink:visited {
  color: #a1b1ff;
}
.body-form .farmalink:visited {
  color: #7c89fd;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  width: 100%;
  height: 100vh;
  font-family: poppins, sans-serif !important;
  font-size: 0.88rem;
  background: var(--background);
  user-select: none;
  overflow-x: hidden;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.4rem;
  text-transform: capitalize;
}
h3 {
  font-size: 0.87rem;
  text-transform: capitalize;
}
h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
}
h5 {
  font-size: 0.77rem;
  text-transform: capitalize;
}

.container {
  display: grid;
  width: 100vw;
  margin: 0;
  gap: 1.8rem;
  grid-template-columns: 55% 45%;
  height: 100vh;
}

/* AuthLayout */
.cont-img {
  height: 100%;

  filter: drop-shadow(0 2rem 3rem rgba(0, 0, 0, 0.25));
  transition: all 300ms ease;
}
.cont-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
}
.cont-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
  transition: all 300ms ease;
  
}
.cont-form form .head-form {
  display: inline;
  text-align: center;
}
.cont-form form .head-form h1 {
  text-align: center;
  color: var(--dark);
}
.cont-form form .head-form p {
  margin-top: 15px;
  color: var(--text-principal);
}

.cont-form form .head-form .line {
  border: solid 1px var(--principal);
  width: 50%;
  margin: auto;
}
.cont-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}
.cont-form form .body-form {
  margin-top: 2rem;
  position: relative;
}
.cont-form form .body-form input {
  margin-top: 2rem;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1.5px solid var(--principal);
  border-radius: var(--border-radius-1);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.cont-form form .body-form input.error {
  border-bottom: 1.5px solid var(--error);
  /* background: linear-gradient(to top, var(--error-background), transparent); */
}
.cont-form form .body-form input.error::placeholder {
  color: var(--error);
  transition: all 0.5s ease-in-out;
}

.error-form-alert {
  background: var(--error-background);
  color: var(--error);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
  height: 0px;
  position: relative;
  z-index: 1;
}

.error-form-alert.show {
  opacity: 1;
  height: 100%;
  margin: 5% 0%;
  padding: 5%;
  position: relative;
  transform: translateY(0);
}

.cont-form form .footer-form {
  margin: auto;
}


.cont-form form .footer-form button {
  font-family: poppins, sans-serif !important;
  padding: 10px 50px;
  margin-top: 20%;
  border: none;
  border-radius: 5px;
  background-color: var(--principal);
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  z-index: 2;
}

.cont-form button:hover {
}
.alerta {
  margin-top: 1rem;
  display: none;
}
.alerta .message h5 {
  color: var(--card-incompatible);
}
.cont-form .body-form .datos {
  display: flex;
  gap: 0.5rem;
}

/* Fin AuthLayout */

/* FarmaLayout */
.container-farma {
  display: grid;
  width: 100%;
  margin: 0;
  gap: 1.5rem;
  grid-template-columns: 13rem auto 17rem;
}

small {
  font-size: 0.75rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.text-muted {
  color: var(--text-secund);
}
p {
  color: var(--color-dark);
}
aside {
  min-height: 100vh;
  background: var(--principal);
}
aside .top {
  /* background: #FFFFFF; */
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  margin-top: 1.4rem;
  color: var(--color-white);
}
aside .logo {
  display: flex;
  gap: 0.8rem;
  margin: auto;
}
aside .top img {
  width: 2rem;
  height: 2rem;
}
aside .close {
  display: none;
}
/* MNU */
aside .sidebar {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  color: var(--color-white);
  cursor: pointer;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
aside .sidebar a:nth-last-child(1) {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a:nth-last-child(2) {
  position: absolute;
  bottom: 4.5rem;
  width: 100%;
}
aside .sidebar a.active {
  background: var();
  color: var();
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--background);
}
aside .sidebar a.active span {
  color: var();
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
  color: var();
}
aside .sidebar a:hover span {
  margin-left: 1rem;
}
/* MAIN */
.prueba {
  border-radius: 25px;
  margin-top: 1.4rem;
  padding: 10px;
  background: var(--principal);
}
main h1 {
  color: var(--dark);
  margin-top: 1.5rem;
}
main .buscador {
  display: inline-flex;
  width: 100%;
  background: var(--light);
  border-radius: var(--border-radius-2);
  margin-top: 1rem;
}
main .buscador .select-options {
  width: 100%;
}
.css-13cymwt-control {
  background-color: var(--background) !important;
  border-radius: var(--border-radius-2) !important;
}

.css-16xfy0z-control {
  background-color: var(--background) !important;
}

.css-t3ipsp-control {
  background-color: var(--background-white) !important;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%) !important;
}
.css-t3ipsp-control:hover {
  border-color: var(--color-white) !important;
}

.css-1nmdiq5-menu {
  background-color: var(--principal) !important;
}
main .buscador label span {
  color: var(--text-secund);
  font-size: 1.6rem;
  position: relative;
  top: 3px;
  left: px;
}
main .buscador input[type="search"] {
  width: 100%;
  background: transparent;
  color: var(--color-dark);
  font-size: 1rem;
  padding: 0.2rem 1rem;
}
main .buscador input[type="search"]::-webkit-search-cancel-button {
  color: var(--text-secund);
}
main .top-farmacos {
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}
main .top-farmacos .btn-farm {
  color: white;
  background: var(--principal);
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;

  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: all 300ms ease;
  font-family: poppins, sans-serif !important;
}
main .top-farmacos .btn-farm span {
  display: none;
}
main .top-farmacos .btn-farm::after {
  content: "Agregar";
}
main .farmacos {
  max-height: 50vh;
  width: 100%;
  overflow: auto;
  margin-top: 1rem;
  color: var(--dark);
}

main .farmacos table {
  width: 50%;
  margin: auto;
  text-align: center;
  transition: all 300ms ease;
}
main .farmacos table td {
  border-bottom: dashed 1px var(--principal);
  padding: 1rem;
  text-transform: capitalize;
}
main .prueba .insights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main .prueba .insights > div {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  /* padding: var(--card-padding); */
  padding: 1rem 0.5rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  height: auto;
  min-height: 9rem;
}
main .prueba .insights > div:nth-child(1) {
  border-top-left-radius: var(--card-border-radius);
}
main .prueba .insights > div:nth-child(2) {
  border-top-right-radius: var(--card-border-radius);
}
main .prueba .insights > div:hover {
  box-shadow: none;
}
main .prueba .insights > div span,
main .prueba .recent-orders .head-result > span {
  background: var(--principal);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1.5rem;
  margin-right: auto;
}
main .prueba .recent-orders .head-result > span {
  display: none;
}
main .prueba .insights > div.income span {
  background: var(--principal);
}
main .prueba .insights > div.expenses span {
  background: var(--principal);
  margin-right: auto;
}
main .prueba .insights > div.expenses .header {
  display: flex;
}
main .prueba .insights > div.expenses .header div {
  display: flex;
  align-items: center;
}

main .prueba .insights > div.expenses .header button {
  padding: 0.5rem 0.8rem;
  margin-left: auto;
  border-radius: 10px;
  background-color: var(--principal);
  color: var(--background);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
main .prueba .insights > div.expenses .header button:hover {
  opacity: 0.8;
}

main .prueba .insights > div.sales span {
  background: var(--principal);
}
main .prueba .recent-orders .head-result > span {
  background: var(--card-compatible);
}
main .prueba .insights > div .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .prueba .recent-orders > .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
main .prueba .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
  color: var(--dark);
}
main .prueba .insights h1 {
  color: var(--dark);
  margin-top: -2.4rem;
  width: auto;
}
main .prueba .insights .progreso {
  color: var(--color-dark);
  position: relative;
}
main .prueba .insights svg {
  width: 7rem;
  height: 7rem;
}
/* main .prueba .insights svg circle{
    fill: none;
    stroke: var(--principal);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
} 
main .prueba .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .prueba .insights .expenses svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 90;   
}
main .prueba .insights .income svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}
main .prueba .insights .progreso .number{
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
main .insights small {
  margin-top: 1.6rem;
  display: block;
}
main .prueba .insights .sales,
main .prueba .insights .expenses {
  position: relative;
}
main .prueba .insights .sales .close-farm,
main .prueba .insights .expenses .close-farm {
  position: absolute;
  top: 0;
  right: 0;
}
main .prueba .insights .sales .close-farm span,
main .prueba .insights .expenses .close-farm span {
  padding: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  background: none;
  color: var(--text-incierto);
}

main .prueba .insights .nada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
main .prueba .insights .nada h3 {
  color: var(--dark);
}
main .prueba .insights .nada span {
  background-color: var(--principal);
  color: white;
}
main .prueba .insights .nada span::after {
  content: "ads_click";
  transition: all 300ms ease;
  cursor: pointer;
}
main .prueba .insights .nada .pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
  margin: initial !important;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(161, 177, 255, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(197, 209, 255, 1);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(223, 230, 255, 1);
  }
}
/* boton-prueba */
main .prueba .buscar {
  margin-top: 1rem;
}
main .prueba .buscar button {
  background: var(--color-white);
  color: var(--dark);
  width: 100%;
  padding: 0.5rem 0px;
  border-radius: var(--border-radius-2);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: poppins, sans-serif !important;
  transition: all 0.25s ease;
}
main .prueba .buscar button:hover {
  cursor: pointer;
}
main .prueba .buscar button:active {
  letter-spacing: 2px;
}
main .prueba .buscar button:hover {
  color: white;
  background: var(--principal);
}

.contenedor-chips {
  margin: 1rem 0;
}
.chip {
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  height: 36px;
  outline: none;
  padding: 0;
  margin: 0 0.3rem;
  color: #333333;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}

.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}
.chip-svg {
  color: #999999;
  cursor: pointer;
  height: auto;
  margin: 4px 4px 0 -8px;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
.chip-svg:hover {
  color: #666666;
}

.spinner {
  margin: auto;
  width: 25px;
  height: 25px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transition: all 0.3s ease-in-out;
}

.spinner.full {
  margin: auto;
  width: 15rem;
  height: 15rem;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transition: all 0.3s ease-in-out;
}

.container-spinner-full {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Resultado */

main .prueba .recent-orders {
  padding: var(--card-padding);
  /* border-radius: var(--card-border-radius); */
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  min-height: 20vh;
  height: auto;
}
main .prueba .compatible {
  background: var(--card-compatible);
}
main .prueba .incompatible {
  /* display: none; */
  background: var(--card-incompatible);
}
main .prueba .variable {
  /* display: none; */
  background: var(--card-variable);
}
main .prueba .noprobada {
  /* display: none; */
  background: var(--card-noprobado);
}
main .prueba .incierta {
  /* display: none; */
  background: var(--card-incierto);
}
main .prueba .recent-orders:hover {
  box-shadow: none;
}
main .prueba .recent-orders .head-result h2 {
  margin-bottom: 0.8rem;
  color: black;
  text-align: center;
}
main .prueba .recent-orders .head-result span {
  color: white;
}

main .prueba .compatible .middle .left h1 {
  color: var(--text-compatible);
}
main .prueba .incompatible .middle .left h1 {
  color: var(--text-incompatible);
}
main .prueba .variable .middle .left h1 {
  color: var(--text-variable);
}
main .prueba .incierto .middle .left h1 {
  color: var(--text-incierto);
}
main .prueba .noprobado .middle .left h1 {
  color: var(--text-noprobado);
}
main .prueba .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--principal);
}
.progreso {
  margin-top: 1rem;
}
.masInfo {
  margin-top: 1rem;
}
.masInfo a {
  font-weight: bold;
}
.masInfo a:hover {
  text-decoration: underline !important;
}
.ia button:hover {
  cursor: pointer;
  background: #483fec;
}
/* right */
.right {
  margin-top: 1.4rem;
  margin-right: 1.4rem;
}
.right .top {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;

  background: var(--background);
}
.right .top button {
  display: none;
}
.right .theme-toggler {
  background: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
}
.right .theme-toggler span.active {
  background: var(--principal);
  color: var(--background);
  border-radius: var(--border-radius-1);
  transition: all 0.3s ease-in-out;
}
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
  color: var(--dark);
}
.right .top .profile .info {
  display: flex;
  align-items: center;
}

/* RECENT UPDATES */
.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates h2 {
  margin-bottom: 0.8rem;
  color: var(--dark);
}
.right .recent-updates .updates {
  background: var(--background);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  max-height: 90vh;
  overflow: auto;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 1.8rem auto;
  gap: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.right .recent-updates .updates .update span {
  color: var(--principal);
}

.right .recent-updates .updates .update .incompatible {
  width: 1rem;
  height: 1rem;
  background: var(--text-incompatible);
  border-radius: var(--border-radius-1);
  position: relative;
  top: 0.2rem;
}
.right .recent-updates .updates .update .compatible {
  width: 1rem;
  height: 1rem;
  background: var(--text-compatible);
  border-radius: var(--border-radius-1);
  position: relative;
  top: 0.2rem;
}
.right .recent-updates .updates .update .noprobada {
  width: 1rem;
  height: 1rem;
  background: var(--text-noprobado);
  border-radius: var(--border-radius-1);
  position: relative;
  top: 0.2rem;
}
.right .recent-updates .updates .update .variable {
  width: 1rem;
  height: 1rem;
  background: var(--text-variable);
  border-radius: var(--border-radius-1);
  position: relative;
  top: 0.2rem;
}
.right .recent-updates .updates .update .incierto {
  width: 1rem;
  height: 1rem;
  background: var(--text-incierto);
  border-radius: var(--border-radius-1);
  position: relative;
  top: 0.2rem;
}

.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
  color: var(--dark);
}
.right .sales-analytics .item {
  background: var(--background);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  color: var(--dark);
}
.right .sales-analytics .item:hover {
  box-shadow: none;
}
.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--principal);
  display: flex;
}
.right .sales-analytics .item.offline .icon {
  background: var(--card-incompatible);
}
.right .sales-analytics .item.customers .icon {
  background: var(--card-compatible);
}
.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--text-principal);
  color: var(--text-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}

.elimHisto button {
  width: 100%;
}
.elimHisto button:hover {
  background: #483fec;
  cursor: pointer;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 75%;
  color: white;
}
.popup .select-options {
  background: white;
}
.popup button {
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
}

.ia-contenedor p {
  color: black;
}
.ia button {
  display: flex;
  align-items: center;
}
/* Apply backdrop blur effect */
.popup-container {
  backdrop-filter: blur(5px);
}

.popup .header-popup {
  display:flex;

}

.popup .header-popup .title {
  display: flex;
  align-items: center;
  gap: 1rem;  
}

.popup .header-popup .title h2 {
  color: var(--dark);
}
.popup .body-popup {
  padding: 10px 0px;
  display:flex;
  color: var(--dark);
}

.popup .footer-popup {
  display: flex;
  margin-left: auto;
  white-space: nowrap;
  gap:1.5rem
}
.popup .footer-popup button {
  color: var(--dark);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-2);
  font-size: 0.9rem;
  font-family: poppins, sans-serif !important;
  transition: all 0.35s ease-in-out;
}

.popup .footer-popup .cerrar {
  background-color: var(--card-incompatible);
}

.popup .footer-popup .cerrar:hover {
  background-color: var(--text-incompatible);
}
.popup .footer-popup .continuar {
  background-color: var(--card-incierto);
}

.popup .footer-popup .continuar:hover {
  background-color: var(--text-incierto);
}


/*Acerca de*/

.acercadeText {
  width: 80%;
  margin: auto;
  margin-top: 2rem;

  font-size: larger;
  line-height: 1.8rem;
}
.acercadeText p {
  padding: 1rem;
}
.acercadeText ul {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
.acercadeText p ul li {
  list-style: disc;
}
.acercadeText p span {
  color: var(--dark);
  font-weight: bold;
}
.acercadeText b {
  font-size: large;
  color: var(--dark);
}
.acercadeText a {
  color: var(--color-dark);
  font-weight: 500;
}
.acercadeText a:hover {
  text-decoration: underline !important;
}
.farmaInfo {
  width: 100%;
}
.farmaInfo .fila {
  display: flex;
  justify-content: start;
  padding-top: 1rem;
}
.farmaInfo .fila .propiedad {
  margin-right: 0.5rem;
  color: var(--dark);
}
/*ESTILOS DILUCION PA*/
.containerFarm {
  background: var(--principal);
  padding: 10px;
  border-radius: 25px;
  margin-top: 1.4rem;
}
.containerFarm .farmaco {
  background: var(--color-white);
  min-height: 10rem;
  border-radius: var(--border-radius-3);
  position: relative;
  padding: 1rem 2rem;
}
main .containerFarm .farmaco .nada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
main .containerFarm .farmaco h1 {
  color: var(--dark);
  margin-top: -2.4rem;
  width: auto;
  text-align: center;
}
main .containerFarm .farmaco .nada h3 {
  color: var(--dark);
  margin: 1rem auto;
  font-size: 1rem;
}

main .containerFarm .farmaco .nada span {
  background-color: var(--principal);
  color: var(--color-white);
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: auto;
  padding: 0.5rem;
}
main .containerFarm .farmaco .nada span::after {
  content: "ads_click";
  transition: all 300ms ease;
  cursor: pointer;
}
main .containerFarm .farmaco .nada span::after {
  content: "ads_click";
  transition: all 300ms ease;
  cursor: pointer;
}
main .containerFarm .farmaco .nada .pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
  margin: initial !important;
}
main .containerFarm .farmaco .sales span {
  background: var(--principal);
}
main .containerFarm .farmaco > div span {
  background: var(--principal);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1.5rem;
  margin-right: auto;
}
main .containerFarm .farmaco .sales .close-farm,
main .containerFarm .farmaco .expenses .close-farm {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
main .containerFarm .farmaco .sales .close-farm span,
main .containerFarm .farmaco .expenses .close-farm span {
  padding: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  background: none;
  color: var(--text-incierto);
}
main .containerFarm .farmaco .sales .middle .progreso {
  color: var(--color-dark);
  text-align: center;
}
main .containerFarm .farmaco .sales .middle .masInfo {
  text-align: center;
}
.questionContent{
  margin: 2rem auto;
  
}
.questionContent h3{
  text-align: center;
}
.questionContent div{
  padding: 1rem;
  display: flex;
  justify-content: space-around;

  font-size: 1.1rem;
}
.questionContent div div input[type="radio"]{
  display: inline-block;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .container-farma {
    width: 100%;
    grid-template-columns: 7rem auto 18rem;
    /* grid-template-columns: 7rem 51rem 23rem; */
  }

  /* aside{
        height: ;
    } */
  aside .logo h2 {
    display: none;
  }
  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  aside .sidebar a:nth-last-child(2) {
    position: relative;
    top: 0;
  }
  main .prueba {
    margin-bottom: 1rem;
  }
  main .prueba .insights {
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 1rem;
  }
  main .prueba .insights > div {
    height: auto;
  }
  main .prueba .insights > div:nth-child(1) {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    border-bottom-left-radius: initial;
  }

  main .prueba .insights > div:nth-child(2) {
    border-top-right-radius: initial;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
  }

  main .prueba .insights > div:nth-child(3) {
    border-radius: 0;
  }
  main .prueba .recent-orders {
    /* width: 94%;
        position: absolute;
        left: 50%;
        transform:  translateX(-50%);
        margin: 2rem 0 0 8.8rem; */
  }
  main .farmacos table {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}
/* MEDIA QUERIES PARA TABLETS yCELUS PA*/
@media screen and (max-width: 768px) {
  .container-farma {
    width: 100%;
    grid-template-columns: 1fr;
  }

  main h1 {
    margin: 0;
  }
  main .top-farmacos {
    justify-content: space-between;
    align-items: baseline;
    transition: all 300ms ease;
  }
  main .top-farmacos .btn-farm {
    font-weight: 400;

    transition: all 300ms ease;
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--principal);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3 ream 4 ream var(--light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  /* salir */
  aside .sidebar a:nth-last-child(1) {
    position: absolute;
    bottom: 5rem;
  }
  /* aside .sidebar a:nth-last-child(2) {

  } */
  aside .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .insights > div:nth-child(1) {
    border-top-right-radius: var(--card-border-radius);
  }
  main .insights > div:nth-child(2) {
    margin-top: 1rem;
    border-top-right-radius: 0 !important;
  }
  main .prueba .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .recent-orders table {
    width: 100%;
    margin: 0;
  }
  main .prueba .insights .nada span::after {
    content: "touch_app";
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--background);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: relative;
    left: 1rem;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--principal);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  main .prueba .insights .nada {
    text-align: center;
  }
}

/* Fin FarmaLayout */

/*REsposive login and register*/
@media screen and (max-width: 800px) {
  main .prueba .insights h1 {
    font-size: medium;
  }
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    background: var(--principal) !important;
  }
  .cont-img {
    display: none;
  }
  .cont-form {
    width: 90%;
    height: 70%;
    margin: auto;
    border-radius: var(--border-radius-3);
    background: var(--background);
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 550px) {
  main .top-farmacos {
    justify-content: start;
  }
  main .top-farmacos .btn-farm::after {
    content: "";
  }
  main .top-farmacos .btn-farm span {
    display: block;
    font-size: 16px;
  }
}

/* KeyFrames */
